@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v11-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v16-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v16-latin-regular.woff") format("woff");
}

.button {
  background-color: #FCB72B;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  max-width: 180px;
  color: #FFFFFF;
  display: inline-block;
  padding: 14px 39px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  color: #FCB72B;
  background: #fff;
  -webkit-box-shadow: 0 0 0 3px #FCB72B inset;
          box-shadow: 0 0 0 3px #FCB72B inset;
}

/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Mono" , "Lexend Deca";
  font-style: normal;
  font-size: 16px;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

.header__btn {
  background: #FCB72B;
  border: 0;
  padding: 14px 39px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.header__btn:hover {
  background-color: #FFFFFF;
  border: 3px solid #FCB72B;
  color: #FCB72B;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}

.header__beg {
  padding-top: 22px;
  padding-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
}

.header__item-link {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__item-link:hover {
  color: #FCB72B;
}

.nav-mobile {
  padding: 64px 32px 24px 32px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: transparent;
  position: absolute;
  top: 100%;
  left: 0;
  width: 70vw;
  height: calc(100vh - 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333A44;
  -webkit-box-shadow: 0 5000px 0 5000px rgba(0, 0, 0, 0.75);
          box-shadow: 0 5000px 0 5000px rgba(0, 0, 0, 0.75);
  mix-blend-mode: normal;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-mobile .mobile-btn {
  margin-bottom: 24px;
}

.nav-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.nav-mobile__list__item__link {
  font-family: 'Space Mono';
  font-size: 18px;
  line-height: 25px;
  color: #E5ECF4;
}

.menu-checkbox {
  display: none !important;
}

@media only screen and (max-width: 700px) {
  .header__list {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .header-btn {
    display: none;
  }
  .label {
    display: inline-block;
  }
  .burger {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    background-image: url("./../images/nav-burger.svg");
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 5%;
  }
  .header__logo-link {
    margin-left: 100px;
  }
  .menu-checkbox:checked ~ .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-checkbox:checked ~ .burger {
    background-image: url("./../images/cross.svg");
  }
}

@media only screen and (max-width: 333px) {
  .button {
    font-size: 15px;
    line-height: 25px;
  }
}

.hero {
  margin-bottom: 160px;
}

.hero__container {
  max-width: 1440px;
  width: 100%;
  background-image: url("./../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__inner-container {
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__wrapper {
  max-width: 500px;
  width: 100%;
  padding-top: 153px;
  padding-bottom: 152px;
}

.hero__inner-wrapper {
  margin-left: 95px;
}

.hero__heading {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.hero__text {
  position: relative;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.hero__text::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: calc(100% + 57px);
  top: 50%;
  width: 202px;
  height: 15px;
  background: #FCB72B;
  background-image: url("./../../images/hero-left-arrow.svg");
}

.hero__text::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(100% + 40px);
  top: 50%;
  width: 450px;
  height: 150px;
  background: url("./../../images/hero-arrow.svg") no-repeat;
}

@media only screen and (max-width: 768px) {
  .hero__text::after, .hero__text::before {
    display: none;
  }
  .hero__wrapper {
    padding-bottom: 300px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 137px;
  }
  .hero__inner-wrapper {
    margin-left: 0;
  }
  .hero__wrapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% + 350px);
    left: calc(50% - 510px);
    width: 450px;
    height: 150px;
    background: url("./../../images/hero-arrow.svg") no-repeat;
  }
}

@media only screen and (max-width: 700px) {
  .menu-checkbox:checked ~ .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-checkbox:checked ~ .burger {
    background-image: url("./../images/cross.svg");
  }
}

@media only screen and (max-width: 430px) {
  .hero__heading {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__container {
    background-image: url("./../../images/hero-mobile.jpg");
  }
}

@media only screen and (max-width: 333px) {
  .button {
    font-size: 15px;
    line-height: 25px;
  }
}

.step {
  margin-bottom: 175px;
}

.step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  width: 100%;
}

.step-list__item__wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 486px;
  height: 15px;
  background-color: #E5ECF4;
  margin-top: 48px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  z-index: -1;
}

.step-list__item__wrapper::before {
  content: "";
  display: inline-block;
  top: 0;
  margin-bottom: 40px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #FCB72B;
  background-position: center;
  background-repeat: no-repeat;
}

.step-list .step1::before {
  background-image: url("./../../images/li-1.svg");
}

.step-list .step2::before {
  background-image: url("./../../images/li-2.svg");
}

.step-list .step3::before {
  background-image: url("./../../images/li-3.svg");
}

.step-list__item {
  margin-bottom: 40px;
}

.step-list__item__text {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.step-list__item__heading {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 27px;
}

@media only screen and (max-width: 1100px) {
  .step__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .step-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .step-list__item {
    max-width: 573px;
  }
  .step-list__item__wrapper {
    padding-left: 100px;
  }
  .step-list__item__wrapper::after {
    position: absolute;
    left: calc(50% - 560px);
    -webkit-transform: rotate(90deg) translate(-50%, -50%);
            transform: rotate(90deg) translate(-50%, -50%);
  }
  .step-list__item__wrapper::before {
    position: absolute;
    left: calc(50% - 360px);
  }
  .step-list .step1::before {
    background-image: url("./../../images/li-1.svg");
  }
  .step-list .step2::before {
    background-image: url("./../../images/li-2.svg");
  }
  .step-list .step3::before {
    background-image: url("./../../images/li-3.svg");
  }
}

@media only screen and (max-width: 768px) {
  .step-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step-list__item {
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 311px;
    width: 100%;
    margin-bottom: 48px;
    padding-top: 80px;
  }
  .step-list__item__heading {
    font-size: 20px;
    line-height: 28px;
  }
  .step-list__item__wrapper {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step-list__item__wrapper::after {
    display: none;
  }
  .step-list__item__wrapper::before {
    width: 56px;
    height: 56px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-size: 50%;
  }
}

.telemetry-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 150px;
}

.telemetry-list__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.telemetry-list__item:nth-child(2n) .telemetry__right__wrapper::before {
  content: url("./../../images/telemetry-arrow-right.svg");
  left: calc(50% - 400px);
}

.telemetry-list__item:nth-child(2n) .telemetry__right__wrapper {
  -webkit-box-shadow: -514px 0 0 0 #E5ECF4;
          box-shadow: -514px 0 0 0 #E5ECF4;
}

.telemetry-list__item:nth-child(2n) .telemetry__left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.telemetry__left {
  width: 445px;
  height: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.telemetry__left__heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.telemetry__left-text {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.telemetry__right {
  max-width: 445px;
}

.telemetry__right__wrapper {
  border-radius: 50%;
  width: 445px;
  height: 445px;
  position: relative;
  -webkit-box-shadow: 514px 0 0 0 #E5ECF4;
          box-shadow: 514px 0 0 0 #E5ECF4;
}

.telemetry__right__wrapper__img {
  position: absolute;
  width: 445px;
  height: 445px;
  border-radius: 50%;
}

.telemetry__right__wrapper::before {
  content: url("./../../images/telemetry-arrow-left.svg");
  display: inline-block;
  position: absolute;
  left: calc(50% - 350px);
  bottom: 0;
  width: 741px;
  height: 150px;
  z-index: 5;
}

@media only screen and (max-width: 950px) {
  .telemetry-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 150px;
  }
  .telemetry-list__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .telemetry__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .telemetry__left__heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .telemetry__left-text {
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
  .telemetry__right {
    max-width: 445px;
  }
  .telemetry__right__wrapper {
    border-radius: 50%;
    width: 445px;
    height: 445px;
    position: relative;
    -webkit-box-shadow: 514px 0 0 0 #E5ECF4;
            box-shadow: 514px 0 0 0 #E5ECF4;
  }
  .telemetry__right__wrapper__img {
    position: absolute;
    width: 445px;
    height: 445px;
    border-radius: 50%;
  }
  .telemetry__right__wrapper::before {
    content: url("./../../images/telemetry-arrow-left.svg");
    display: inline-block;
    position: absolute;
    left: calc(50% - 350px);
    bottom: 0;
    width: 741px;
    height: 150px;
    z-index: 5;
  }
}

@media only screen and (max-width: 768px) {
  .telemetry-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .telemetry-list__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  background: #333A44;
  padding: 35px 0;
}

.footer__beg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-left: 58px;
}

.footer__item-link {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.footer__item-link:hover {
  color: #FCB72B;
}

.icon:hover path {
  fill: #FFFFFF;
}

@media only screen and (max-width: 702px) {
  .footer__beg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__page {
    margin-left: 0;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo-link {
    margin-bottom: 40px;
  }
  .footer__list {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

.sign {
  margin-top: 104px;
  padding: 102px 0;
  background: #495567;
}

.sign__beg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__heading {
  max-width: 441px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.sign__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__img-link {
  margin-right: 18px;
}

@media only screen and (max-width: 900px) {
  .sign__beg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .sign__list {
    margin-top: 40px;
  }
}
